@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #f7f7f7;
  --dark-grey: #333;
  --brown: #473828;
  --dark-blue: #2c3e50;
  --green: #1d5f39;
  --light-green: #c6ffdd;
  --light-orange: #fbd786;
  --light-blue: #abd6f3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  color: var(--off-white);
  background-image: linear-gradient(to right, var(--dark-blue), var(--green));
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: var(--off-white);
}

/* Navbar */

nav {
  margin: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin: 0 25px;
  text-decoration: none;
  font-size: 1.3em;
}

nav a:hover {
  color: var(--light-orange);
}

.site-title {
  font-size: 1em;
}

/* Header */

header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header div {
  margin: 0 40px;
  font-size: 40px;
  font-weight: bold;
}

header img {
  margin: 0 40px;
  width: 300px;
  height: auto;
}

/* Main Content */

main {
  margin: 50px;
  color: var(--off-white);
}

main h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.4em;
}

.section-header {
  width: 80%;
  margin: 25px auto;
  max-width: 900px;
}

.card {
  margin: 25px auto 65px auto;
  padding: 25px;
  width: 80%;
  max-width: 900px;
  height: auto;
  background-color: var(--dark-grey);
  box-shadow: -15px 15px 4px var(--brown);
}

.card p {
  margin: 20px;
  font-size: 1.2em;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-title img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.tech-images,
.comic-images,
.podcast-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tech-images img {
  width: 80px;
  height: auto;
  margin: 10px 20px;
}

.comic-images img {
  width: 110px;
  height: auto;
}

.podcast-image img {
  width: 150px;
  height: auto;
  margin: 20px;
}

/* Contact Section */

.social-links {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.card .email {
  margin: 10px auto 30px auto;
  text-align: center;
  font-weight: bold;
}

.social-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links div p {
  margin: 5px 30px;
}

.social-links img {
  width: 50px;
}

/* Footer */

footer p {
  margin: 20px;
  text-align: center;
}
